/* Style the links inside the navigation bar */
.topnav a {

  display: block;
  color: black;
  text-align: center;
  padding: 1% 5%;
  text-decoration: none;
  font-size: 40px;
  margin: 0px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
}
/* Add an active class to highlight the current page */
.topnav a.active {
  float: right;
  background-color: #0D01DB;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
.topnav a:hover {background: #b3b3b3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  }

.nadpis{
padding-top: 10px;
padding-left: 15px;
}
.podnapdpis{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color:  #0D01DB;
}

.fotky{
  width: 100%;
  margin: 0px;
}
.foto{
  margin-top:5px;
  margin-bottom: 5px;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --color-gray-90: hsl(0,0%,90%);
  --color-gray-80: hsl(0,0%,80%);
  --color-gray-50: hsl(0,0%,50%);
  --color-light: hsl(0,0%,100%);
  --font-size-initial: 15px;
  --size-initial: 1px;
}

body{
  background: var(--color-gray-90);
  color: var(--color-gray-50);
  font-family: BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: var(--font-size-initial);
}

/* CONTAINERS */
main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-initial) * 18), 1fr));
  gap: calc(var(--font-size-initial) * 2);
  margin: auto;
  max-width: calc(var(--font-size-initial) * 100);
  padding: calc(var(--font-size-initial) * 2);
}


main2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size-initial) * 18), 1fr));
  gap: calc(var(--font-size-initial) * 2);
  margin: auto;
  max-width: calc(var(--font-size-initial) * 100);
  padding: calc(var(--font-size-initial) * 2);
}

.foto-technologia{
  height: 100%;
  object-fit: cover;
  width: 100%;
}






section{
  background: var(--color-light);
  border-radius: calc(var(--font-size-initial) * .0);
  box-shadow: 0 calc(var(--size-initial) * 3) calc(var(--size-initial) * 6) hsla(0,0%,0%,.1);
  overflow: hidden;
}

article{
  padding: calc(var(--font-size-initial) * 3);

}

section :hover {
transform: scale(1.05);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


figure{
  height: calc(var(--font-size-initial) * 15);
}




/* IMAGE */
img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* TYPOGRAPHY */
h3{
  text-align: center;
  padding: 10px;
  font-size: calc(var(--font-size-initial) * 2);
  letter-spacing: calc(var(--size-initial) * -1.25);
  line-height: calc(var(--font-size-initial) * 2.25);
  margin: calc(var(--font-size-initial) * .5) 0;
}

p{
  font-size: calc(var(--font-size-initial) * .875);
  line-height: calc(var(--font-size-initial) * 1.25);
}

span{
  color: var(--color-gray-80);
  font-size: calc(var(--font-size-initial) * .75);
  letter-spacing: calc(var(--size-initial) * .75);
  text-transform: uppercase;
  word-spacing: var(--size-initial);
}













